{% extends 'base.html.twig' %}

{% block title %}
    {{ presenter.page.title.value }}
{% endblock %}

{% form_theme presenter.form "form/themes/security/_ask_reset_password_token_theme.html.twig" %}

{% block body %}
    <section>
        <div class="mk-main__center">
            <h2>Demander un nouveau mot de passe</h2>
        </div>
        {{ form(presenter.form) }}
    </section>
    <section class="mk-main__container">
        <a href="{{ path('web_login') }}">
            Se connecter !
        </a>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer src="{{ asset('build/askResetPassword.js') }}"></script>
{% endblock %}
