{% extends 'base.html.twig' %}

{% block title %}
    {{ "registration.title"|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/registration.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/register.css') }}" />
{% endblock %}

{% block body %}
    <section class="registration-bloc">
        {% form_theme registerForm 'form/themes/_registerTypeTheme.html.twig' %}
        {{ form(registerForm) }}

        <div class="mdc-snackbar mdc-snackbar--align-start"
             aria-live="assertive"
             aria-atomic="true"
             aria-hidden="true">
            <div class="mdc-snackbar__text"></div>
            <div class="mdc-snackbar__action-wrapper">
                <button type="button" class="mdc-snackbar__action-button"></button>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/registrationForm.js') }}"></script>
    <script src="{{ asset('build/form.js') }}"></script>
    <script src="{{ asset('build/file_check.js') }}"></script>
    <script src="{{ asset('build/snackbar.js') }}"></script>
    <script type="text/javascript">
        form = document.getElementById("{{ registerForm.children.profileImage.vars.id|e('js') }}");
        formBtn = document.getElementById('register');
        profileImageHelper = document.getElementById('{{ registerForm.children.profileImage.vars.id }}-helper-text');
        form.addEventListener('change', checkFileSize, false);

        function checkFileSize() {
            for (var i = 0, numFiles = this.files.length; i < numFiles; i++) {
                let file = this.files[i];

                if (file.size > 2000000) {
                    formBtn.disabled = true;
                    profileImageHelper.visible = true;
                } else {
                    formBtn.disabled = false;
                    profileImageHelper.visible = false;
                }
            }
        }
    </script>
{% endblock %}
