{% extends 'base.html.twig' %}

{% block title %}
    {{ presenter.page.title.value }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/register.css') }}" />
{% endblock %}

{% block body %}
    <section class="registration-bloc">
        {% form_theme presenter.viewOptions.form 'form/themes/_registerTypeTheme.html.twig' %}
        {{ form(presenter.viewOptions.form) }}

        <div class="mdc-snackbar mdc-snackbar--align-start"
             aria-live="assertive"
             aria-atomic="true"
             aria-hidden="true">
            <div class="mdc-snackbar__text"></div>
            <div class="mdc-snackbar__action-wrapper">
                <button type="button" class="mdc-snackbar__action-button"></button>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/registrationForm.js') }}"></script>
    <script src="{{ asset('build/snackbar.js') }}"></script>
    <script type="text/javascript">
        form = document.getElementById("{{ presenter.viewOptions.form.children.profileImage.vars.id|e('js') }}");
        formLabel = document.getElementById("{{ presenter.viewOptions.form.children.profileImage.vars.id|e('js')~'-label' }}");
        formBtn = document.getElementById('register');
        profileImageHelper = document.getElementById('{{ presenter.viewOptions.form.children.profileImage.vars.id }}-helper-text');
        form.addEventListener('change', checkFileSize, false);

        function checkFileSize() {
            for (let i = 0, numFiles = this.files.length; i < numFiles; i++) {
                let file = this.files[i];

                if (file.size > {{ presenter.viewOptions.content.maxFileSize|e('js') }}) {
                    formBtn.disabled = true;
                    formLabel.textContent = "{{ presenter.viewOptions.content.file_size_error.value }}"
                } else {
                    formBtn.disabled = false;
                    formLabel.textContent = "{{ presenter.viewOptions.content.file_size_success.value }}"
                }
            }
        }
    </script>
{% endblock %}
