{% extends 'base.html.twig' %}

{% block title %}{{ "Registration"|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/registration.css') }}"
{% endblock %}

{% block body %}
    <section class="registration-left__bloc">
        <div>
            <img src="{{ asset('') }}" />
        </div>
    </section>
    <section class="registration-right__bloc">
        <div>
            <h1 class="right__bloc-welcome">Create an account</h1>
        </div>
        <div class="registration-bloc__form">
            {{ form_start(registerForm) }}
            {{ form_errors(registerForm) }}
            {{ form_label(registerForm.username) }}
            {{ form_widget(registerForm.username, {'attr': {'class': 'registration-bloc__form-username'}}) }}
            {{ form_errors(registerForm.username) }}
            {{ form_label(registerForm.email) }}
            {{ form_widget(registerForm.email, {'attr': {'class': 'registration-bloc__form-password'}}) }}
            {{ form_errors(registerForm.email) }}
            {{ form_label(registerForm.plainPassword) }}
            {{ form_widget(registerForm.plainPassword, {'attr': {'class': 'registration-bloc__form-email'}}) }}
            {{ form_errors(registerForm.plainPassword) }}
            {{ form_label(registerForm.profileImage) }}
            {{ form_widget(registerForm.profileImage) }}
            {{ form_errors(registerForm.profileImage) }}
            <button type="submit" class="registration-bloc__form-button">
                {{ "Create an account"|trans }}
            </button>
            {{ form_end(registerForm) }}
        </div>
    </section>
{% endblock %}
