{% block form %}
    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.password) }}
        <div class="mk-button__container">
            <button type="reset" class="mdc-button {{ form.vars.id~'_'~'button--cancel' }}">
                {{- 'main.button_cancel'|trans({"%name%": "main.button_cancel"}, 'button') -}}
            </button>
            <button type="submit" class="mdc-button mdc-button--raised mdc-elevation--z4 {{ form.vars.id~'_'~'button--submit' }}">
                {{- 'login.button'|trans({"%name%": "login.button"}, 'button') -}}
            </button>
        </div>
    {{ form_end(form) }}
{% endblock %}
