{% block form_row %}
    {% if form.vars.attr.type is defined and form.vars.attr.type == "file" %}
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    {% endif %}
    <div class="mdc-text-field mdc-text-field--box {{ form.vars.id }}">
        {{ form_widget(form, {'attr': {'class': 'mdc-text-field__input', 'aria-describedby': form.vars.id ~'-helper-text', 'aria-controls': form.vars.id ~'-helper-text', 'placeholder': ''}}) }}
        {{ form_label(form, '', {'label_attr': {'class': 'mdc-floating-label', 'for': form.vars.id}}) }}
        <div class="mdc-line-ripple"></div>
        {{ form_errors(form) }}
    </div>
    {{ form_help(form) }}
{% endblock %}

{% block form_help %}
    <p id="{{ id }}-helper-text" class="mdc-text-field-helper-text" aria-hidden="true">
        {{- help|cloudTranslate('form', app.request.locale) -}}
    </p>
{% endblock %}

{% block form_errors %}
    {% for error in errors %}
        <p id="{{ form.vars.id }}-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" aria-hidden="true">
            {{ error.message }}
        </p>
    {% endfor %}
{% endblock %}
