{% block form_row %}
    <div class="mdc-text-field mdc-text-field--outlined {{ form.vars.id }}" style="display: flex; justify-content: flex-end; width: 300px; margin: auto;">
        {{ form_widget(form, {'attr': {'class': 'mdc-text-field__input', 'aria-describedby': form.vars.id ~'-helper-text', 'aria-controls': form.vars.id ~'-helper-text', 'placeholder': ''}}) }}
        {{ form_label(form, '', {'label_attr': {'class': 'mdc-floating-label', 'for': form.vars.id}}) }}
        <div class="mdc-notched-outline">
            <svg>
                <path class="mdc-notched-outline__path"/>
            </svg>
        </div>
        <div class="mdc-notched-outline__idle"></div>
        {{ form_errors(form) }}
    </div>
    {{ form_help(form) }}
{% endblock %}

{% block form_help %}
    <p id="{{ id }}-helper-text" class="mdc-text-field-helper-text" aria-hidden="true">
        {{- help -}}
    </p>
{% endblock %}

{% block form_errors %}
    {% for error in errors %}
        <p id="{{ form.vars.id }}-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" aria-hidden="true">
            {{ error.message }}
        </p>
    {% endfor %}
{% endblock %}
