{% block form %}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{- form_row(form.username) -}}
    {{- form_row(form.email) -}}
    {{- form_row(form.password) -}}
    {{- form_row(form.profileImage) -}}
    <div class="register_container--button">
        <button class="mdc-button {{ form.vars.id~'_'~'button--cancel' }}" type="reset">
            Cancel
        </button>
        <button class="mdc-button mdc-button--raised mdc-elevation--z4 {{ form.vars.id~'_'~'button--submit' }}" type="submit">
            {{ "account.creation"|trans }}
        </button>
    </div>
    {{ form_end(form) }}
    <p class="registration-bloc__login-text">
        <a href="{{ path('web_login') }}">{{ "account.already_exist"|trans }}</a>
    </p>
{% endblock %}
