{% block form %}

    {% import "macros/form_file_type_macro.html.twig" as fileType %}

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{- form_row(form.username) -}}
    {{- form_row(form.email) -}}
    {{- form_row(form.password) -}}
    {{ fileType.form_file_type(form) }}
    <div class="mk-button__container">
        <button class="mdc-button {{ form.vars.id~'_'~'button--cancel' }}" type="reset">
            {{ 'main.button_cancel'|cloudTranslate('button', app.request.locale) }}
        </button>
        <button class="mdc-button mdc-button--raised mdc-elevation--z4 {{ form.vars.id~'_'~'button--submit' }}" id="{{ form.vars.id }}" type="submit">
            {{ "account.creation"|trans }}
        </button>
    </div>
    {{ form_end(form) }}
    <p class="mk-main__container">
        <a href="{{ path('web_login') }}">{{ "account.already_exist"|trans }}</a>
    </p>
{% endblock %}
