{% block form %}
    <div class="mdc-card mdc-card__media--16-9 reset-password_card">
        <div class="card-content">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{- form_row(form.password.first) -}}
            {{- form_row(form.password.second) -}}
            <div class="reset-password_card--button">
                <button type="submit" class="mdc-button mdc-button--raised">
                    {{ "reset_password.button.text"|trans }}
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
