<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <section>
            <h2>
                {{ presenter.page.header.value }}
            </h2>
            <div>
                <p>
                    {{ presenter.page.content_first.value }}
                </p>
                <p>
                    {{ presenter.page.content_second.value }}
                    <a href="{{ url('web_validation', {'token': presenter.page.user.validationToken}) }}">
                        {{ presenter.page.link.value }}
                    </a>
                </p>
            </div>
        </section>
    </body>
</html>
