<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <section>
            <h2>
                {{ presenter.email.header|trans }}
            </h2>
            <div>
                <p>
                    {{ presenter.email.content.first_part|trans }}
                </p>
                <p>
                    {{ presenter.email.content.second_part|trans }}
                    <a href="{{ url('web_validation', {'token': presenter.user.validationToken}) }}">
                        {{ presenter.email.content.link.text|trans }}
                    </a>
                </p>
            </div>
        </section>
    </body>
</html>
