<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ presenter.email.title|trans }}
        </title>
    </head>
    <body>
        <section>
            <h2>
                {{ presenter.email.header|trans }}
            </h2>
            <div>
                {{ presenter.email.content.text|trans }}
                <a href="{{ url('web_reset_password', {"token": presenter.user.resetPasswordToken}) }}">
                    {{ presenter.email.content.link.text|trans }}
                </a>
            </div>
        </section>
    </body>
</html>
