<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ "user.ask_reset_password.header"|trans }}
        </title>
    </head>
    <body>
        <section>
            <h2>
                {{ "user.ask_reset_password.header"|trans }}
            </h2>
            <div>
                {{ 'user.ask_reset_password'|trans }}
                <a href="{{ url('web_reset_password', {"token": user.resetPasswordToken}) }}">
                    {{ 'user.ask_reset_password.text'|trans }}
                </a>
            </div>
        </section>
    </body>
</html>
