<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ presenter.page.subject.value }}
        </title>
    </head>
    <body>
    <section>
        <h2>
            {{ presenter.page.subject.value }}
        </h2>
        <div>
            {{ presenter.page.body.value }}
            <a href="{{ url('web_login') }}">
                {{ presenter.page.link.value }}
            </a>
        </div>
    </section>
    </body>
</html>
