<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ presenter.page.header.value }}
        </title>
    </head>
    <body>
        <section>
            <h2>
                {{ presenter.page.header.value }}
            </h2>
            <div>
                {{ presenter.page.content.value }}
                <a href="{{ url('web_reset_password', {"token": presenter.page.user.resetPasswordToken}) }}">
                    {{ presenter.page.link.value }}
                </a>
            </div>
        </section>
    </body>
</html>
