<!DOCTYPE html>
<html>
    <head>
        <title>{{ presenter.page.subject.value }}</title>
    </head>
    <body>
        <section>
            <h2>{{ presenter.page.subject.value }}</h2>
            <p>
                {{ presenter.page.content.value }} <a href="{{ url('dashboard_home') }}">{{ presenter.page.dashboard.value }}</a>.
            </p>
            <p>
                {{ presenter.page.footer.value }} <a href="{{ url('contact') }}">{{ presenter.page.contact.value }}</a>.
            </p>
        </section>
    </body>
</html>
